<!doctype html>
<html>
<head>
    <script src="bower_components/requirejs/require.js" data-main="src/app"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" media="screen" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container" id="leContainer">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <center><img src="logo.png" width="717.5" height="250" /></center>
          </div>
          <div class="panel-body" style="padding:60px;">   

            <div class="panel panel-info" rv-unless="viewModel:HasGameId">
              <div class="panel-heading">
                <h3 class="panel-title">To play, you will need to send texts to +44 7860 033 661</h3>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                    
                    <h5><strong>To start a game, simply text "start", and you will receive a text giving you your very own game url.</strong></h5>
                    <br/>                

                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><center>!!! WOW !!!</center></h3>
                        </div>
                        <div class="panel-body">
                            <center>
                                <div><img src="gifs/wow.gif" alt="WOW"></div>
                            </center>
                            <center><font color="red"><h3><strong>!!! This means we can now cater for multiple players! We rock! !!!</strong></h3></font></center>
                        </div>
                    </div>
                </ul>
              </div> 
            </div>        

              <div rv-if="viewModel:HasGameId">
                <div rv-if="viewModel:HasHistory">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">The story so far...</h3>
                        </div>
                        <div class="panel-body">
                            <h5 rv-text="viewModel.History"></h5>
                        </div>
                    </div>
                </div>

                <div rv-if="viewModel:HasDeathlyDeathText">
                    <div class="panel panel-danger">
                        <div class="panel-heading">                
                            <h2 class="panel-title">Uh-oh...</h2>
                        </div>
                        <div class="panel-body">
                            <center>
                                <div><img src="gifs/skull_and_crossbones.gif" alt="YOU DIE" style="width:120px;height:100px;" rv-if="viewModel:HasSkullAndCrossbones"></div>
                                <div><img src="viewModel.GifPath" alt="Computer Man" style="width:240px;height:240px;" rv-unless="viewModel:HasSkullAndCrossbones"></div>
                            </center>
                            <font color="red"><h3 rv-text="viewModel.DeathlyDeathText"><strong></strong></h3></font>
                        </div>
                    </div>
                </div>

                <div>

                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <h3 class="panel-title" rv-text="viewModel.NextOptions"></h3>
                      </div>
                        <ul class="list-group" rv-if="viewModel:HasOptions">
                            <strong>
                                <li class="list-group-item" rv-each-option="viewModel:Options">
                                    {option.OptionNumber}: {option.Option}
                                </li>
                            </strong>
                        </ul>
                    </div>
                </div>
                <br/>

                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">To play, you will need to send texts to +44 7860 033 661</h3>
                  </div>
                  <div class="panel-body">
                    <ul class="list-group" rv-if="viewModel:HasOptions">                        
                        <h5><strong>To start a game, simply text "start".</strong></h5>
                        <h5><strong>To select an option, text the option number.</strong></h5>
                        <h5><strong>To go back, text "back".</strong></h5>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body> 
</html>